@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700;800&family=Prata&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    color: rgb(126, 125, 125);
}

.body{
    display: flex;
    justify-content: center;;
    align-items: center;
    height: 100vh;
    width: 100%;
    background:rgb(214, 224, 233);
    position: relative;
}

.divsec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    background:white;
    position: relative;
    width: 55vw;
}

.divsec .close{
    position: absolute;
    top: 0;
    right: 0; 
    z-index: 1;
}

.closeIcon{
    display: grid;
    height: 40px;
    width: 40px;
    place-items: center;
    background: rgb(216, 63, 63);
    color: white;
    font-size: 1.4em;
}

.divsec .image_section{
    background: url(../../images/reg_bg.png) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.divsec .image_section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;   
    background: rgba(10, 10, 10, 0.5);
    z-index: 1;
}

.divsec .image_section .textArea, .textArea2{
    height: 50%;
    width: 100%;
    z-index: 5;
    position: absolute;
    padding: 30px;
    display: grid;
    place-items: center; 
}

.textArea{
    background: aliceblue;
}

.textArea .__images{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.textArea .__images div{
    display: grid;
    place-items: center;
}

.textArea .__images img{
    height: 90px;
    width: 90px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;

}

.login_text{
    background-color: transparent;
}

.logo{
    display: flex;
    align-items: center;
}
  
.logo img{
    width: 100px;
    height: 100px;
}  

.image_section .textArea2{
    bottom: 0;
    background: transparent;
    color:aliceblue;
}

.image_section .textArea2 span{
    text-align: center;
    line-height: 2.1em;
    font-family: 'Shadows Into Light', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 400;
    font-size: 1.3em;
}

.divsec .image_section .textArea h3{
    font-size: 1.9em;
    color: transparent;
    text-align: center;
    background: linear-gradient(90deg,  rgb(164, 76, 223), rgb(206, 196, 62));
    -webkit-background-clip: text;

}

.form_section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    padding: 20px;
    padding-top: 30px;
    min-height: 500px;
    gap: 30px;
    position: relative;
}

.loadingForm{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    color:rgb(98, 199, 120);
    background:rgba(157, 197, 241, 0.562);
    display: grid;
    place-items: center;

    i{
        font-size: 2.2em;
    }
}

.step_divs{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.step_divs .step_num{
    display: inline-flex;
    height: 30px;
    width: 30px;
    padding: 4%;
    border: 2px solid rgb(180, 178, 178);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    position: relative;
}

.step_num span{
    color: inherit;
    position: absolute;
    font-size: 0.8em;
    bottom: -80%;
    right: 50%;
    transform: translateX(50%);
}

.step_divs ._line{
    height: 4px;
    width: 70%;
    background: rgba(151, 150, 150, 0.336);
}

.step_divs span.active{
    border:2px solid rgb(155, 89, 231);
    color: rgb(155, 89, 231);
}

.form_section form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 30px;
    position: relative;
}

form.login h3{
    text-align: center;
    width: 100%;
}

.form_section h3{
    font-size: 1.5em;
    width: 80%;
}

.form_section form .input_sect{
    height: 45px;
    border: none;
    position: relative;
    background: transparent;
    margin: 20px 0;
}
  
.form_section form .input_sect input{
    width: 100%;
    height: 100%;
    outline: none;
    background: transparent;
    border: 1px solid lightgrey;
    cursor: pointer;
    border-radius: 7px;   
}

.input_pad{
    padding: 2%;
}

.input_sect label, legend{
    font-size: 0.9em;
    letter-spacing: 0.0;
    color: rgb(71, 69, 69)
}
    
.form_section form .input_sect label{
    position: absolute;
    bottom: 110%;
    left: 2%;
    transition: 0.5s;
}

.form_section form .input_sect i{
    position: absolute;
    right: 2%;
    font-size: 1.2em;
    top: 50%;
    transform: translateY(-50%);
}

.form_section form .input_sect input:focus{
    border: 1.8px solid rgb(219, 127, 247);
}

form .input_sect input:focus~label, form .input_sect input:focus~i{
    color: rgb(219, 127, 247);

}

fieldset{
    padding: 8px 15px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    margin: 9px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 3px;
    
    legend{
        padding: 0 8px;
    }

    div{
        display: flex;
        align-items: center;
        gap: 2%;

        label{
            font-size: 0.9em;
        }
    }
}

form .submit_btn{
    position: relative;
    height: 50px;
    margin: 25px 0;
    border-radius: 7px;
    overflow: hidden;
    background: rgb(155, 89, 231);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.3s;
    transition: background 0.4s;
    font-size: 1.15em;
    font-weight: 500;
    gap: 2%;
    
    &:hover{
        background: linear-gradient(120deg, rgb(80, 158, 247), rgb(155, 89, 231))
    }
}

#_loader::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(39, 39, 39, 0.281);
    z-index: 10;
}

form .form_link{
    text-align: center;
    color:rgb(71, 69, 69);
    
    a{
        text-decoration: none;
        color:rgb(155, 89, 231)
    }
}

/* remember-forgot */

.remember_forgot{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
    div label{
        margin-left: 8px;
        color:rgb(71, 69, 69);
    }
}

.form_indicator{
    position: absolute;
    right: 0;
    font-size: 0.8em;
    width: 100%;
    color:rgb(223, 76, 84);
    text-align: center;
    font-size: 0.9em;
    top: -100%;
    margin: 10px 0;
}

._login_msg{
    position: static;
    color: rgb(45, 212, 87);
}

.__login_msg{
    position: static;
    color:rgb(223, 76, 84);
}

.error_msg, .success_msg{
    position: absolute;
    bottom: -45%;
    right: 0;
    font-size: 0.8em;
    width: 100%;
    color:rgb(223, 76, 84);
    text-align: right;
}

.success_msg{
    color: rgb(98, 199, 120)
}

.msg{
    text-align: center;
}